{{flexberry-error error=error}}  
<div class="ui three column grid stackable">

{{!-- <div class="col">

    {{flexberry-field
  value=bookValue
  label=label
  placeholder='Book filter'
  readonly=readonly
  type=type
  maxlength=maxlength 
}}  
  </div>
  <div class="col">
 
    {{flexberry-field
  value=speakerValue
  label=label
  placeholder='Speaker filter'
  readonly=readonly
  type=type
  maxlength=maxlength 
}}  
  </div> --}}
 
  <div class="col">
  {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=bookValue
      relationName="btBook"
      projection="BtBookL"
      readonly=readonly
      componentName="bookLookUp"
      displayAttributeName = "title"
      placeholder = "Book filter"
    }}
  </div>
  <div class="col">
  {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=speakerValue
      relationName="btBook"
      projection="BtBookL"
      readonly=readonly
      componentName="speakerLookUp"
      displayAttributeName = "LastName"
      placeholder = "Speaker filter"
    }}
  </div>
  <div class="col">
   {{flexberry-button
     caption='Apply filer'
     class= 'top attached'
     iconClass=class
     tooltip=tooltip
     readonly=readonly
     click=(action "onButtonClick")
   }}
  </div>
</div>
<br>
<br>
<br>

<h3>{{t "forms.i-i-s-product-64396-club-meeting-l.caption"}}</h3>
<div class="row">
  {{flexberry-objectlistview
    modelName=modelName
    modelProjection=modelProjection
    editFormRoute=editFormRoute
    content=model
    createNewButton=true
    refreshButton=true
    sorting=computedSorting
    orderable=true
    showCheckBoxInRow=true
    sortByColumn=(action "sortByColumn")
    addColumnToSorting=(action "addColumnToSorting")
    beforeDeleteAllRecords=(action "beforeDeleteAllRecords")
    pages=pages
    perPageValue=perPageValue
    perPageValues=perPageValues
    recordsTotalCount=recordsTotalCount
    hasPreviousPage=hasPreviousPage
    hasNextPage=hasNextPage
    previousPage=(action "previousPage")
    gotoPage=(action "gotoPage")
    nextPage=(action "nextPage")
    componentName="IISProduct_64396ClubMeetingL"
  }}
</div>
